<a href="https://colab.research.google.com/github/dhruvtomar/python-exercise-3/blob/main/2_Python_Pattern_Programs.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#2 Python Pattern Programs

In [16]:
n = int(input("Enter the number of rows:"))
for i in range(1,n+1):
  for j in range(1, i+1):
    print(j, end="")

  print() #for new line

Enter the number of rows:7
1
12
123
1234
12345
123456
1234567

In [17]:
n = int(input("Enter the number of rows:"))
for i in range(1,n+1):
  for j in range(1, i+1):
    print(i, end="")

  print()

Enter the number of rows:7
1
22
333
4444
55555
666666
7777777